doctype html
html
    head
        include head
        link(href='/public/css/live.css', rel='stylesheet', type='text/css')
        script(src='/public/js/live.js')
    body
        object#overlay(data="/public/svg/overlay.svg" type="image/svg+xml")
        object#status(data="/public/svg/status.svg" type="image/svg+xml")
        object#score(data="/public/svg/score.svg" type="image/svg+xml")
        object#score4(data="/public/svg/score4.svg" type="image/svg+xml")
        object#score5(data="/public/svg/score5.svg" type="image/svg+xml")
        object#timer(data="/public/svg/timer.svg" type="image/svg+xml")