doctype html
html
    head
        include head
        link(href='/public/css/live.css', rel='stylesheet', type='text/css')
        script(src='/public/js/live.js')
    body
        svg#svg
        //.view#overlay
          //  object(data="/public/svg/overlay.svg" type="image/svg+xml")
        //.view#status
          //  object(data="/public/svg/status.svg" type="image/svg+xml")
