doctype html
html
    head
        include head
        link(href='/public/css/live.css', rel='stylesheet', type='text/css')
        script(src='/public/js/live.js')
    body
        object#overlay(data="/public/svg/overlay.svg" type="image/svg+xml")
        object#status(data="/public/svg/status.svg" type="image/svg+xml")
