doctype html
html
    head
        include head
        script(src='/public/js/manage.js')
    body
        include hero
        section.section
            .container
                h1.title.is-5 Allgemein
                .field
                    label.label Live-Maske
                    .control
                        .button#status Punkteübersicht einblenden
                .field
                    .control
                        .button#hideAll Alles ausblenden
        section.section#1
            .container
                h1.title.is-5 Spiel 1: Liedermemory
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
        section.section#2
            .container
                h1.title.is-5 Spiel 2: Activity
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
                .field
                    label.label Live-Maske
                    .control
                        .button#score Score-Overlay einblenden
                .field
                    .control
                        .button.showTimer Timer-Overlay einblenden
                .field
                    .control
                        .button.hideTimer Timer-Overlay ausblenden
                .field
                    label.label Timer
                    .control
                        .button.resetTimer90s Timer zurücksetzen
                .field
                    .control
                        .button.startTimer Timer starten
                .field
                    label.label Punkte: Team Schacht
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteSchacht(type='number', min='0')
                    .control
                        a.button.is-static Punkte
                .field
                    label.label Punkte: Team Lehrer
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteLehrer(type='number', min='0')
                    .control
                        a.button.is-static Punkte
        section.section#3
            .container
                h1.title.is-5 Spiel 3: Blamieren oder Kassieren
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
                .field
                    label.label Live-Maske
                    .control
                        .button#overlay Buzzer-Overlay einblenden
                .field
                    label.label Buzzer
                    .control
                        .button#reset Antwort abgegeben
                .field
                    label.label Punkte: Team Schacht
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteSchacht(type='number', min='0', max='2')
                    .control
                        a.button.is-static Punkte
                .field
                    label.label Punkte: Team Lehrer
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteLehrer(type='number', min='0', max='2')
                    .control
                        a.button.is-static Punkte
        section.section#4
            .container
                h1.title.is-5 Spiel 4: Becherfußball
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
        section.section#5
            .container
                h1.title.is-5 Spiel 5: Fahrradparcour
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
        section.section#6
            .container
                h1.title.is-5 Spiel 6: Anno Domini
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
                .field
                    label.label Live-Maske
                    .control
                        .button#score4 Score-Overlay einblenden
                .field
                    label.label Punkte: Team Schacht
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteSchacht(type='number', min='0', max='4')
                    .control
                        a.button.is-static Punkte
                .field
                    label.label Punkte: Team Lehrer
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteLehrer(type='number', min='0', max='4')
                    .control
                        a.button.is-static Punkte
        section.section#7
            .container
                h1.title.is-5 Spiel 7: Wer hat schon mal?
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
                .field
                    label.label Live-Maske
                    .control
                        .button#score5 Score-Overlay einblenden
                .field
                    label.label Punkte: Team Schacht
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteSchacht(type='number', min='0', max='5')
                    .control
                        a.button.is-static Punkte
                .field
                    label.label Punkte: Team Lehrer
                .field.has-addons
                    .control
                        input.input.has-text-right.punkteLehrer(type='number', min='0', max='5')
                    .control
                        a.button.is-static Punkte
        section.section#8
            .container
                h1.title.is-5 Spiel 8: Wasserbombenhelm
                .field
                    label.label Gewinner
                    .control
                        .buttons.has-addons
                            span.button.schacht Schacht
                            span.button.x ---
                            span.button.lehrer Lehrer
        include footer