doctype html
html
    head
        include head
        script(src='/public/js/manage.js')
    body
        include hero
        section.section
            .container
                h1.title Manage
                h2.subtitle All the settings to customize the game on the fly.
                label.label Spiel 1: Liedermemory
                .field#1
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 2: Activity
                .field#2
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 3: Blamieren oder Kassieren
                .field#3
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 4: Becherfußball
                .field#4
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 5: Fahrradparcour
                .field#5
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 6: Anno Domini
                .field#6
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 7: Wer hat schon mal?
                .field#7
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Spiel 8: Wasserbombenhelm
                .field#8
                    .buttons.has-addons
                        span.button.schacht Schacht
                        span.button.x X
                        span.button.lehrer Lehrer
                label.label Timer
                .field.has-addons
                    .control
                        input.input.has-text-right#input-timerDuration(type='text')
                    .control
                        a.button.is-static seconds
                label.label Reset Buzzer
                .field
                    a.button.is-info#reset
                        span.icon
                            i.fas.fa-times
                        span Reactivate
                label.label Sandbox
                .field
                    a.button.is-info#sandbox
                        span.icon
                            i.fas.fa-times
                        span fire!
                label.label Live View
                .select.is-multiple
                    select(multiple, size='2')#live-view
                        option(value='overlay') Overlay
                        option(value='status') Status
                label.label Score - Schacht
                .field.has-addons
                    .control
                        input.input.has-text-right#input-scoreSchacht(type='text')
                    .control
                        a.button.is-static points
        include footer