doctype html
html
    head
        include head
        script(src='/public/js/user.js')
    body
        section.hero.is-primary.is-fullheight
            .hero-body
                .container.has-text-centered
                    h1.title#name
                    h2.subtitle tap anywhere to buzz